#about-us
{
    background-image: url(../images/about-bg.jpg);
}

#features
{
    background-image: url(../images/features-bg.jpg);
}

#twitter
{
    background-image: url(../images/twitter-bg.jpg);
}

#contact-us
{
    background-image: url(../images/contact-bg.jpg);
}
