#cta2
{
    background: #242a33 url(../images/cta2/cta2-bg.jpg) no-repeat 50% 50%;
}

#testimonial
{
    background: #333333 url(../images/testimonial/bg.jpg) no-repeat 0 0;
}

#work-process
{
    background: #20222e url(../images/work-process/bg.jpg) no-repeat 0 0;
}

#animated-number
{
    background: #132125 url(../images/animated-number/bg.jpg) no-repeat 0 0;
}
